.idea
.env
/vendor/*
/content/goCMS
/content/plugins
!/content/plugins/readme.md
/content/themes/*
!/content/themes/default
!/content/themes/readme.md
/content/themes/default/src/node_modules
/content/themes/default/src/.idea
npm-debug.log
.DS_Store
