sudo: required
language: go
go: 1.9
branches:
  only:
  - alpha-release
  - release
install:
- bash build.sh
after_success:
- sudo apt-get install -y python-pip
- sudo pip install awscli
- bash deploy.sh
