@import './components/index';

.hero-title-home {
  margin: 110px 0 0 0;
  padding: 0;
  font-family: Archer, sans-serif;
  font-weight: 100;
  color: $white;
  font-size: 48px;
  width: 442px;
}

.hero-title-home-btn {
  margin: 10px 0 0 0;
}

.callout-box-home-mission-statement {
  position: relative;
  top: 116px;
  left: 70px;
  width: 516px;
  height: 321px;
  padding: 32px 0 0 22px;
}

.text-home-mission-statement {
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  color: $gray;
  line-height: 33px;
}
