.page-title-wrapper {
  margin-top: 36px;
}

.page-title {
  font-family: Archer, sans-serif;
  font-size: 32px;
  line-height: 32px;
  font-weight: bold;
  color: $gray;
}

.page-title-page-break {

}
