.footer-copyright-bar-wrapper {
  background-color: $blue;
  width: 100%;
  height: 35px;
  padding-right: 4px;
}
.footer-copyright-text {
  display: block;
  font-family: Avenir, sans-serif;
  font-size: 10px;
  color: $white;
  text-align: right;
  font-weight: 100;
  margin: 0;
  padding: 11px 2px 0 0;

  &-mobile {
    text-align: center;
  }
}