<!DOCTYPE html>
<html>
<head>
    <script>
        var isIE11 = false;
        if (!!window.MSInputMethodContext && !!document.documentMode) {
            isIE11 = true;
        }
    </script>
    <meta charset="utf-8">
    <title>GoCMS</title>
    {{template "theme_header.tmpl" .}}
</head>
<body>
{{template "theme_body.tmpl" .}}
<div id="app"></div>
</body>
<script src="/goCMS/vendor.js"></script>
<script src="/goCMS/base.js"></script>
{{ if .Admin }}
<script src="/goCMS/admin.js"></script>
{{ end }}
{{template "theme_footer.tmpl" .}}
<script>
    var ASSET_BASE = {{.AssetBase}}
    var _app = require('goCMS/initialize');
    _app.run({{.Admin}}, {{.Theme}});
</script>