<!DOCTYPE html>
<html>
<head>
    <script>
        var isIE11 = false;
        if (!!window.MSInputMethodContext && !!document.documentMode) {
            isIE11 = true;
        }
    </script>
    <meta charset="utf-8">
    {{template "theme_header.tmpl" .}}
    <title>GoCMS</title>
</head>
<body>
<style>
    body, html {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    #loader-page-wrapper {
        animation: fadein 500ms ease-in;
        transition: opacity 500ms ease-out;
        width: 100%;
        height: 100%;
        z-index: 9000;
        position: absolute;
        overflow: hidden;
        background-color: #F6F2EF;
    }

    @keyframes fadein {
        0% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }

    #loader-text {
        position: relative;
        top: 12%;
        font-family: sans-serif !important;
        font-size: 60px;
        text-align: center;
        z-index: 9001;
        margin: 0;
        color: #4A4A4A;
    }
    .cssload-loader {
        width: 125px;
        height: 125px;
        border-radius: 50%;
        margin: 10% auto -160px auto;
        position: relative;
        vertical-align: middle;
        background:rgba(0,103,151,0.98);
    }
    .cssload-loader,
    .cssload-loader:before,
    .cssload-loader:after {
        animation: 1.15s infinite ease-in-out;
        -o-animation: 1.15s infinite ease-in-out;
        -ms-animation: 1.15s infinite ease-in-out;
        -webkit-animation: 1.15s infinite ease-in-out;
        -moz-animation: 1.15s infinite ease-in-out;
    }
    .cssload-loader:before,
    .cssload-loader:after {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .cssload-loader { animation-name: cssload-loader;
        -o-animation-name: cssload-loader;
        -ms-animation-name: cssload-loader;
        -webkit-animation-name: cssload-loader;
        -moz-animation-name: cssload-loader; }


    @keyframes cssload-loader {
        from { transform: scale(0); opacity: 1; }
        to	 { transform: scale(1); opacity: 0; }
    }

    @-o-keyframes cssload-loader {
        from { -o-transform: scale(0); opacity: 1; }
        to	 { -o-transform: scale(1); opacity: 0; }
    }

    @-ms-keyframes cssload-loader {
        from { -ms-transform: scale(0); opacity: 1; }
        to	 { -ms-transform: scale(1); opacity: 0; }
    }

    @-webkit-keyframes cssload-loader {
        from { -webkit-transform: scale(0); opacity: 1; }
        to	 { -webkit-transform: scale(1); opacity: 0; }
    }

    @-moz-keyframes cssload-loader {
        from { -moz-transform: scale(0); opacity: 1; }
        to	 { -moz-transform: scale(1); opacity: 0; }
    }

    #app {
        animation: fadein 500ms ease-in;
        transition: opacity 500ms ease-out;
        opacity: 0;
    }
</style>
<div id="loader-page-wrapper">
        <div class="cssload-loader"></div>
    <h1 id="loader-text">Loading...</h1>
</div>

{{template "theme_body.tmpl" .}}
<div id="app"></div>
</body>

<script src="/gocms/vendor.js"></script>
<script src="/gocms/base.js"></script>
<link rel="stylesheet" href="/gocms/base.css">
{{ if .Admin }}
<link rel="stylesheet" href="/gocms/admin.css">
{{ end }}
{{ range $script := .PluginScripts }}
<script src="{{ $script }}"></script>
{{ end }}
{{ range $style:= .PluginStyles }}
<link rel="stylesheet" href="{{ $style }}">
{{ end }}
{{ if .Admin }}
<script src="/gocms/admin.js"></script>
{{ end }}
{{template "theme_footer.tmpl" .}}
<script>
    var ASSET_BASE = {{ .AssetBase }};
    var GOCMS_LOGIN_TITLE = 'GoCMS';
    var GOCMS_LOGIN_SUCCESS_REDIRECT = '/admin';
    var _app = require('gocms/initialize');
    _app.run({{ .Admin }}, {{ .ActivePlugins }}, {{ .ActiveAdminPlugins }}, {{ .Theme }});
</script>