.callout-box {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 26px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  border: solid $teal 4px;
  border-radius: 4px;
  background: $white;
  padding: 16px;

  @media (max-width: 992px) {
    display: block;
    position: initial;
    margin-bottom: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    font-family: Archer, sans-serif;
    font-size: 42px;
    color: $gray;
    margin: 0 0 7px 0;
    width: auto;
    display: inline-block;
    border-bottom: solid 1px $teal;
    padding-bottom: 6px;

  }

  h2 {
    font-family: Archer, sans-serif;
    font-size: 24px;
    color: $gray;
    margin: 0 0 14px 0;
    display: inline-block;
  }

  p {
    font-family: Lato, sans-serif;
    font-size: 12px;
    color: $gray;
    margin: 0 0 14px 0;
    display: inline-block;
  }

  img {
    margin: 0 0 14px 0;
    height: 127px;
    display: inline-block;
  }

  hr {
    margin: 0 0 0 0;
    padding: 0;
    display: inline-block;
  }
}