.news-events-carousel-wrapper {
  height: 361px;
}

.news-events-carousel-slider-wrapper-gradient {
  width: 88px;
  height: 361px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 97%, rgba(255, 255, 255, 1) 100%);
  position: relative;
  top: -357px;
  right: -900px;
  pointer-events: none;

  @media (max-width: 992px) {
    display: none;
  }
}

.news-events-carousel-title {
  margin-top: 28px;
  font-family: Archer, sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: $gray;

  @media (max-width: 992px) {
    margin-top: 88px;
    margin-left: 16px;
  }
}

.news-events-carousel-slider-wrapper {
  margin-top: 53px;
  padding-left: 20px;

  @media (max-width: 992px) {
    margin-top: 26px;
  }
}

.news-events-carousel-dots {
  float: none;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 0;
  overflow: hidden;
  text-align: center;
  display: inline-block !important;
  width: 100%;

  @media (max-width: 992px) {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .slick-active {
    button {
      background-color: $blue;
    }
  }

  li {

    margin-left: 9px;
    margin-right: 9px;
    display: inline;
  }

  button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid $blue;
    font-size: 0px;
    padding: 0;
    margin: 0;
    background-color: $white;

    &:hover {
      background-color: $blue;
    }

    &:focus {
      outline: none;
    }
  }

}