<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GoCMS</title>
    {{ if not .Admin }}
        {{template "theme_header.tmpl"}}
    {{ end }}
</head>
<body>
{{ if not .Admin }}
    {{template "theme_body.tmpl"}}
{{ end }}
<div id="app"></div>
</body>
<script src="/goCMS/vendor.js"></script>
<script src="/goCMS/base.js"></script>
{{ if .Admin }}
    <script src="/goCMS/admin.js"></script>
{{ end }}
{{ if not .Admin }}
    {{template "theme_footer.tmpl"}}
{{ end }}
<script>
    let app = require('goCMS/initialize');
    app.run({{.Admin}});
</script>